
<p-table [value]="productos" [loading]="loadingProductos">
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Categorias</th>
      <th>Precios</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-producto>
    <tr>
      <td>
        <img src="{{producto.foto}}" alt="{{producto.nombre}}" style="max-height: 56px; max-width: 56px;">
      </td>
      <td>{{producto.nombre}}</td>
      <td>{{producto.descripcion}}</td>
      <td></td>
      <td></td>
    </tr>
  </ng-template>
</p-table>
